body{
    background-color: #FFFFF0;
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
}
h1{
    color: #C19a6b;
}
h2{
    color: #D2B28C;
}
p{
    color: #5a4633;
}
ul{
    background-color: #faf3e0;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
}
.products{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

}

.card{
    background-color: #FAF3E0;
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;

}

button{
    background-color: #c19a6b;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    
}
.card:hover{
    transform: scale(1.05);
    transition: 0.3s;
}